<a href="https://colab.research.google.com/github/LeeSinLiang/Kaggle-Titanic-Challenge-using-Logistic-Regression-77.90-/blob/master/PredictPassangerSurviveTitanicWithLogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# upload csv to colab
from google.colab import files
uploaded = files.upload()

Saving gender_submission.csv to gender_submission.csv
Saving test.csv to test.csv
Saving train.csv to train.csv

# Kaggle [Titanic Challenge](https://www.kaggle.com/c/titanic/) using Logistic Regression

1. Importing neccesary packages
2. Read csv file and check if there is any NaN values
3. Impute NaN values
4. Scale the data
5. Create Logistic Regression Model and fit data to the model
6. Score the model
7. Predict the data and save it to Comma-Seperated Values Format

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv('train.csv')
test_df  = pd.read_csv('test.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [4]:
df['Embarked'],label = pd.factorize(df['Embarked'])
test_df['Embarked'], label1 = pd.factorize(test_df['Embarked'])
PassengerId = test_df['PassengerId']
test_df.isnull().any()

PassengerId    False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin           True
Embarked       False
dtype: bool

In [5]:
train = pd.get_dummies(df[['Sex','Age','Pclass','Embarked']])
test_df = pd.get_dummies(test_df[['Sex','Age','Pclass','Embarked']])
y = df['Survived']
X_train, X_test, y_train, y_test = train_test_split(train,y, test_size=0.2, random_state=42)
test_df

      Age  Pclass  Embarked  Sex_female  Sex_male
0    34.5       3         0           0         1
1    47.0       3         1           1         0
2    62.0       2         0           0         1
3    27.0       3         1           0         1
4    22.0       3         1           1         0
..    ...     ...       ...         ...       ...
413   NaN       3         1           0         1
414  39.0       1         2           1         0
415  38.5       3         1           0         1
416   NaN       3         1           0         1
417   NaN       3         2           0         1

[418 rows x 5 columns]

In [6]:
# train.isnull().any()
cols_with_missing = [col for col in X_train.columns
                     if X_train[col].isnull().any()]
X_train_plus = X_train.copy()
X_test_plus = X_test.copy()

# Make new columns indicating what will be imputed
for col in cols_with_missing:
    X_train_plus[col + '_was_missing'] = X_train_plus[col].isnull()
    X_test_plus[col + '_was_missing'] = X_test_plus[col].isnull()

# Imputation
my_imputer = SimpleImputer()
imputed_X_train_plus = pd.DataFrame(my_imputer.fit_transform(X_train_plus))
imputed_X_test_plus = pd.DataFrame(my_imputer.transform(X_test_plus))

# Imputation removed column names; put them back
imputed_X_train_plus.columns = X_train_plus.columns
imputed_X_test_plus.columns = X_test_plus.columns
print(imputed_X_train_plus)
imputed_X_train_plus = np.asarray(imputed_X_train_plus)
imputed_X_test_plus = np.asarray(imputed_X_test_plus)
imputed_X_train_plus

           Age  Pclass  Embarked  Sex_female  Sex_male  Age_was_missing
0    45.500000     1.0       0.0         0.0       1.0              0.0
1    23.000000     2.0       0.0         0.0       1.0              0.0
2    32.000000     3.0       0.0         0.0       1.0              0.0
3    26.000000     3.0       0.0         0.0       1.0              0.0
4     6.000000     3.0       0.0         1.0       0.0              0.0
..         ...     ...       ...         ...       ...              ...
707  21.000000     3.0       0.0         1.0       0.0              0.0
708  29.498846     1.0       0.0         0.0       1.0              1.0
709  41.000000     3.0       0.0         0.0       1.0              0.0
710  14.000000     1.0       0.0         1.0       0.0              0.0
711  21.000000     1.0       0.0         0.0       1.0              0.0

[712 rows x 6 columns]

array([[45.5,  1. ,  0. ,  0. ,  1. ,  0. ],
       [23. ,  2. ,  0. ,  0. ,  1. ,  0. ],
       [32. ,  3. ,  0. ,  0. ,  1. ,  0. ],
       ...,
       [41. ,  3. ,  0. ,  0. ,  1. ,  0. ],
       [14. ,  1. ,  0. ,  1. ,  0. ,  0. ],
       [21. ,  1. ,  0. ,  0. ,  1. ,  0. ]])

In [0]:
cols_with_missing = [col for col in test_df.columns
                     if test_df[col].isnull().any()]


X_test_plus1 = test_df.copy()
X_test_plus1
# # Make new columns indicating what will be imputed

X_test_plus1['Age' + '_was_missing'] = X_test_plus1['Age'].isnull()

# # Imputation
my_imputer1 = SimpleImputer()
imputed_X_test_submit_plus = pd.DataFrame(my_imputer1.fit_transform(X_test_plus1))
imputed_X_test_submit_plus
# # Imputation removed column names; put them back
imputed_X_test_submit_plus.columns = X_test_plus1.columns
imputed_X_test_submit_plus
imputed_X_test_submit_plus = np.asarray(imputed_X_test_submit_plus)

In [0]:
min_max_scaler = MinMaxScaler()
imputed_X_train_plus = min_max_scaler.fit_transform(imputed_X_train_plus)
imputed_X_test_plus = min_max_scaler.fit_transform(imputed_X_test_plus)
imputed_X_test_submit_plus = min_max_scaler.fit_transform(imputed_X_test_submit_plus)

In [9]:
lr = LogisticRegression(C=1)
lr.fit(imputed_X_train_plus, y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
lr.score(imputed_X_test_plus, y_test)

0.8100558659217877

In [11]:
imputed_X_test_submit_plus

array([[0.4527232 , 1.        , 0.        , 0.        , 1.        ,
        0.        ],
       [0.61756561, 1.        , 0.5       , 1.        , 0.        ,
        0.        ],
       [0.8153765 , 0.5       , 0.        , 0.        , 1.        ,
        0.        ],
       ...,
       [0.50547277, 1.        , 0.5       , 0.        , 1.        ,
        0.        ],
       [0.39697468, 1.        , 0.5       , 0.        , 1.        ,
        1.        ],
       [0.39697468, 1.        , 1.        , 0.        , 1.        ,
        1.        ]])

In [12]:
pred = lr.predict(imputed_X_test_submit_plus)
output = pd.DataFrame({'PassengerId': PassengerId, 'Survived': pred})
output.to_csv('my_submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!